
.loading-overlay{
    position: absolute ;
    width: 100%;
    height: 100%;
    background: rgba(175, 175, 175, 0.3);
    z-index: 1000;
    transition: 0.5s;
}

.circle {
    display: inline-block;
    background-color: rgb(255, 181, 44);
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 25px;
  }
  
  #container {
      background: #fff;
      padding: 40px;
      border-radius: 4px;
   position: absolute;
   top: 50%;
   left: 50%;

  }
  
  #ball-1{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  #ball-2{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  #ball-3{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(23px);
    }
    60% {
      transform: translateY(-25px);
    }
    80%{
      transform: translateY(0);
    }
  }