.detail-container{
    margin: 0px 20px;
    width: 70%;
}

.detail-container .detail-header{
  display: flex;
  
}
.detail-container .detail-header > .detail-card{
  margin-right: 20px;
    
  }
.detail-container .detail-header .detail-card{
    width: 50%;
    background: white;
    padding: 28px;
    border-radius: 4px;
    box-shadow: rgba(170, 170, 170, 0.2) 0px 2px 8px 0px;
}

.detail-container .detail-header .detail-card p{
    margin: 0px;
    color: var(--text-color-gray);
    font-size: var(--text-xsmall);
    margin-bottom: 20px;
    font-weight: 500;
}

.detail-container .detail-header .detail-card .detail-card-warp{
    display: flex;
    justify-content: space-around;
 
}

.detail-container .detail-header .detail-card .detail-card-warp .image-area-detail{
    display: flex;
    flex-direction: column;

}
.detail-container .detail-header .detail-card .detail-card-warp .image-area-detail img{
    margin-bottom: 20px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.detail-container .detail-header .detail-card .detail-card-warp .image-area-detail label{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.detail-container .detail-header .detail-card .detail-card-warp .info-detail{
    display: flex;
    flex-direction: column;
}

.detail-container .detail-header .detail-card .detail-card-warp .info-detail select {
    background-color: white;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    color: var(--text-color-gray);
    height: 30px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.detail-container .detail-header .detail-card .detail-card-warp .info-detail input[type='text']{
    color: var(--text-color-gray);
    height: 30px;
    border: 0;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    margin-right: 10px;
    margin-bottom: 15px;
}

.detail-container .detail-header .detail-card .detail-card-warp .info-detail input[type='date']{
    color: var(--text-color-gray);
    height: 30px;
    border: 0;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    margin-right: 10px;
    margin-bottom: 15px;
}

.detail-container .footer-account-detail{
    margin-top: 20px;
    width: 100%;
  
}
.detail-container .footer-account-detail .btn-save{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: var(--text-xsmall);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.detail-container .footer-account-detail .btn-delete{
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 4px;
    color: var(--status-late);
    font-weight: 600;
    font-size: var(--text-xsmall);
    border: 1px solid var(--status-late);
    cursor: pointer;
    margin-right: 20px;
}

.client-product-buy{
    background: white;

    border-radius: 4px;
    box-shadow: rgba(170, 170, 170, 0.2) 0px 2px 8px 0px;
    margin-right: 20px;
    margin-top: 20px;
}

.client-product-buy table{
    border-collapse: collapse;
    width: 100%;
}
.client-product-buy table thead{

}
.client-product-buy table thead tr{
    
}    

.client-product-buy table thead tr th{
    padding: 4px 0px;
    font-size: var(--text-xxsmall);
    font-weight: 600;
    color: var(--text-color-gray);
}

.client-product-buy tbody{

}

.client-product-buy tbody tr{
    font-size: var(--text-xxsmall);
    color: var(--text-color-gray);
} 
.client-product-buy tbody tr:nth-child(odd){
    background-color: #f0f0f0;
}

.client-product-buy tbody tr td{
}

.client-product-buy tbody tr td p{
    margin: 17px 0px;
}