.page-not-found-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-no-found{
    display: flex;
    align-items: center;
}
.page-no-found img{
    width: 350px;
}
.not-found-description{
    color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    width: 300px;
}
.not-found-description h1{
    font-size: 30px;

}
.not-found-description p{
    margin: 20px 0px;
    color: var(--text-color-gray);
}
.not-found-description a{
    color: white;
    font-weight: 700;
    width: fit-content;
    padding: 14px 30px;
    border-radius: 4px;
    text-decoration: none;
    background: var(--primary-color);
}
