.dashboard-container{
    margin: 10px 20px;
    width: 100%;
}

.dashboard-container .dashboard-header{
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}

.dashboard-container .dashboard-header .profile-area{
    display: flex;
    align-items: center;
    color: var(--text-color-gray);
}
.dashboard-container .dashboard-header .profile-area  a{
    text-decoration: none;
    margin-right: 30px;
}

.dashboard-container .dashboard-header .profile-area  button{
    background-color: var(--primary-color);
    padding: 0px 14px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: var(--text-xsmall);
    cursor: pointer;
}
.dashboard-container .dashboard-header .profile-area .profile-info{
    font-size: var(--text-xsmall);
 
}
.dashboard-container .dashboard-header .profile-area .profile-info p{
    margin: 0;
}
.dashboard-container .dashboard-header .profile-area .profile-info  p:nth-child(1){
    color: var(--primary-color);
    font-weight: 500;
}
.dashboard-container .dashboard-filter{
    border-radius: 4px;
    padding: 20px;

    background-color: var(--sidebar-background);
    box-shadow: rgba(170, 170, 170, 0.2) 0px 2px 8px 0px;
}
.dashboard-container .col1{
    display: flex;
    justify-content: space-between;
    height: 160px;
}
.dashboard-container .dashboard-filter h4{
    font-weight: 500;
    color: var(--text-color-gray);
    font-size: var(--text-xsmall);
}
.dashboard-container .dashboard-filter .input-area{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dashboard-container .dashboard-filter .input-area input{
    color: var(--text-color-gray);
    width: 300px;
    height: 30px;
    border: 0;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    margin-right: 10px;
    margin-bottom: 15px;
}
.dashboard-container .dashboard-body{
    margin-top: 20px;
    border-radius: 4px;
    height: auto;
    background-color: var(--sidebar-background);
    box-shadow: rgba(170, 170, 170, 0.2) 0px 2px 8px 0px;
}

