.dashboard-container{
    margin: 10px 20px;
    width: 100%;
}

.dashboard-container .dashboard-header{

}
.dashboard-container .dashboard-filter{
    border-radius: 4px;
    padding: 20px;

    background-color: var(--sidebar-background);
    box-shadow: rgba(170, 170, 170, 0.2) 0px 2px 8px 0px;
}
.dashboard-container .col1{
    display: flex;
}
.dashboard-container .dashboard-filter h4{
    font-weight: 500;
    color: var(--text-color-gray);
    font-size: var(--text-xsmall);
}
.dashboard-container .dashboard-filter .input-area{
    display: flex;
    flex-direction: column;
}
.dashboard-container .dashboard-body{
    margin-top: 20px;
    border-radius: 4px;
    height: auto;
    background-color: var(--sidebar-background);
    box-shadow: rgba(170, 170, 170, 0.2) 0px 2px 8px 0px;
}

