.dashboard-container .dashboard-body table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
}

.dashboard-container .dashboard-body table thead{
  background-color: rgb(245, 245, 245);
 
}

.dashboard-container .dashboard-body table thead tr th{
    padding: 4px 0px;
    font-size: var(--text-xxsmall);
    font-weight: 600;
    color: var(--text-color-gray);
}
.dashboard-container .dashboard-body table tbody tr:nth-child(odd){
    background: #e6e6e6;
}
.dashboard-container .dashboard-body table tbody tr{
    font-size: var(--text-xxsmall);
    color: var(--text-color-gray);


}
.dashboard-container .dashboard-body table tbody tr td{
 
    text-align: center;

}
.dashboard-container .dashboard-body table tbody tr td object{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.dashboard-container .dashboard-body table tbody tr  .image-area{

  
}
.dashboard-container .dashboard-body table tbody tr  .image-area img{
    
 
}
.dashboard-container .dashboard-body table tbody tr td p{}

.dashboard-container .dashboard-body table tbody tr .status-area{
    justify-content: center;
    display: flex;
    align-items: center;
   
}
.dashboard-container .dashboard-body table tbody tr .status-area .circle-status-red{
    margin-right: 5px;
    background: var(--status-late);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.dashboard-container .dashboard-body table tbody tr .status-area .circle-status-green{
    margin-right: 5px;
    background: var(--status-received);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.dashboard-container .dashboard-body table tbody tr .status-area .circle-status-yellow{
    margin-right: 5px;
    background: var(--status-pending);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.icon-pay-method svg{

    width: 8px;
    height: 8px;
}
.pay-area{
    display: flex;
    justify-content: center;
    align-items: center;
}