.create-user-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 20px 20px;

}

.create-user-card {
    max-width: 750px;
    height: auto;
    background: #fff;
    border-radius: 4px;
    display: flex;
}
.create-user-card-description form section {
    margin-top: 20px;
    display: flex;
    width: fit-content;
    align-items: center;
    
}
.create-user-card .create-user-card-description form section .image-area {
    margin-right: 20px;
}
.create-user-card .create-user-card-description form section .image-area img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    object-fit: cover;
 
}
.create-user-header {
     width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.user-header {

    display: flex;
    align-items: center;
    margin-right: 25px;
}
.user-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.user-description p {
    margin:0;
    font-size: 15px;
}
.user-description p:nth-child(2) {
    color: var(--primary-color)
}
.create-user-card-img{
    margin-top: 20px;
    display: flex;
    justify-content:center;
}
.create-user-card-img img{
    width: 300px;
}
.create-user-card-description{
    padding: 0 35px;
    color: var(--text-color-gray);
}
.create-user-card-description form section input[type='file']{
       
        padding: 10px 5px;
        cursor: pointer;
        border: solid 1px var(--primary-color);
        
        color: rgb(97, 97, 97);
        border-radius: 5px;
}

.create-user-card-description form section input[type="file"]:disabled{
        filter: grayscale(100%);
}
.create-user-card-description fieldset{
    border: none; 
    margin-top: 20px;
}
fieldset input{
    color: var(--text-color-gray);
    width: 300px;
    height: 30px;
    border: 0;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    margin-right: 10px;
    margin-bottom: 15px;
}
.create-user-card-description h2{
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
}
fieldset legend{
    font-weight: bold;
}
.button-form{
    display: flex;
    justify-content: flex-start;
    padding-right: 30px;
}
.button-form button{
    margin-left: 15px;
    margin-top: 10px;
    width: 150px;
    padding: 10px 5px;
    cursor: pointer;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    transition: 0.4s all ease;
    margin-bottom: 15px;
}
.button-form button:hover{
   letter-spacing: 0.5px;
   font-weight: bold;
   background: #d8b431;
}